.animate-shirt{
   animation: hang 5s infinite ease-in-out ; 
   transform-origin: top center;
}

@keyframes hang {
   0% {
      transform: rotate(0deg);
   }
   25% {
      transform: rotate(10deg);
   }
   50% {
      transform: rotate(-10deg); 
   }
   75% {
      transform: rotate(5deg); 
   }
   100% {
      transform: rotate(0deg); 
   }
}

.custm-underline{
   position: relative;
   display: inline-block;
}
.custm-underline a::after{
   content: '';
   height: 2px;
   width: 0;
   background-color: rgb(110 110 110);
   position: absolute;
   bottom: 0;
   left: 0;
   transition: width 0.3s ease-in ;
}

.custm-underline a.active::after{
   width: 100%;
}